# Required
CLIENT_SECRET=your-secret-here
GUARDETTE_POLICY_PATH=.guardette/policy.yml

# Optional
PSEUDONYMIZE_ALGORITHM=sha256
PSEUDONYMIZE_SALT=
# For hmac-sha256, generate a key with: openssl rand -hex 32
HMAC_KEY=
SECRET_MANAGER=default
PROXY_CLIENT_TIMEOUT_SECS=60
SECRET_MANAGER_CACHE_TTL_SECS=120
PSEUDONYMIZE_EMAIL_DOMAINS_ALLOWLIST=
OBS_ENABLED=false
OBS_REQUEST_LOGGING_ENABLED=false
OBS_METRICS_ENABLED=false
SERVICE_NAME=guardette
SERVICE_VERSION=
ENVIRONMENT=unknown
